table {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	background: var(--color-white);
	border: 1px solid var(--color-gray-300);
	border-radius: var(--rounded);
	font-variant-numeric: tabular-nums;
	margin: var(--spacing-6) 0 var(--spacing-12) 0;
}
table table {
	color: inherit;
	min-width: 25rem;
}
table th,
table td {
	padding: .75em 1em;
	border-bottom: 1px solid var(--color-gray-300);
	vertical-align: baseline;
	font-size: .825em;
	line-height: var(--leading-normal);
	font-family: var(--font-sans);
}
table th {
  background: var(--color-black);
	font-weight: var(--font-bold);
	white-space: nowrap;
	color: var(--color-white);
}
table tr:last-child td {
	border-bottom: 0;
}
table tr:nth-child(odd) {
}
table tr:nth-child(even) {
   background: var(--color-gray-100);
}

@media screen and (max-width: 40rem) {

  table {
    border-collapse: collapse;
    display: inline-flex;
  }
  table thead {
  	display: none;
  }
  table tbody {
  }
  table td {
    display: flex;
  }
  table tbody tr {
    border-bottom: 2px solid grey;

  }

}



/* DEPRECATED TABLES */

/*table {
  width: 100%;
  text-align: left;
  border: 1px #d1d8e0 solid;
  border-radius: 3px;
  font-family: var(--font-mono);
  font-size: 0.9rem;
  margin: 3rem 1rem 5rem 1rem;
  box-shadow: 1px 1px 3px #d1d8e0;
}
tr, th, td {
  padding: 1rem;
}
th{
  background: #ED4C67;
  color: white;
  border-radius: 3px;
  border: none;
}*/


/* END TABLES */