:root {
	--leader-height: 200px;
	--color-highlight: var(--color-yellow);
}

.cb-box__type-embed {
	margin: 0;
}
.cb-box__inner-col {
	padding: var(--spacing-4);
}

.prose h2 {
	margin-top: 0;
}
.prose p {
	margin-bottom: var(--spacing-6);
}
.contact-map {
	margin-top: var(--spacing-6);
	padding-top: 0;
}
.contact-form {
}

@media screen and (min-width: 40rem) {
	:root {
		--leader-height: 300px;
	}
}

@media screen and (min-width: 72rem) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
	.contact-form {
	    margin: var(--spacing-10) 0;
	}
}
